1) Решите логическое уравнение:
!X => !Y = 0

Решение:
https://www.wolframalpha.com/input/?i=truth+table+not+X+%3D%3E+not+Y

Ответ:
X = 0
Y = 1

2) На доске было написано логическое выражение, но кто-то стер одну переменную. И осталось следующее выражение (стертая операция обозначена знаком “_”)
(A||B&&!C)&&_
Какая переменная могла быть стерта, если известно, что при А=0, B=0, C=1 и при А=1, В=0, С=0 значение исходного выражения равно 0?

Ответ: B, C

3) Таблица какой логической функции представлена ниже?
0 0 1 1
0 1 0 1
-------
0 1 1 0

Ответ: Исключающее ИЛИ

4) У продавца имеется неограниченное количество монет достоинством 1 и 2 рубля. Сколькими способами он может дать сдачу, составляющую 47 рубля?

Ответ: 24

Решение:

In [3]:
a = 1
b = 2
i = 0
S = 47
for n1 in range(0, 1000):
    for n2 in range(0, 1000):
        if n1 * a + n2 * b == S:
            i += 1
            print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24

5) Таблица какой логической функции представлена ниже?
0 0 1 1
0 1 0 1
--------
0 1 1 1

Ответ: ИЛИ

6) Из колоды карт, состоящую из 36 карт, наугад вытаскивают две карты. Каково количество возможных исходов, в которых одна из карт – король, а другая пиковой масти?

Ответ: 70

Решение:

In [5]:
2*(3*9+1*8)

70

7) Студент Андрей спросил у своего одногрупнника время. Оторвавшись от чтения увлекательной книги про системы счисления, он ответил, что сейчас 31 час, 321 минута. Поразмыслив, Андрей понял, что его одногруппник верно сказал время, только в другой системе счисления, и смог определить основание этой системы счисления.
Сколько времени было в момент задания вопроса?
Ответ дайте в десятичной системе счисления в формате hh:mm (например, 09:00). Если вы считаете, что нельзя однозначно узнать время и основание системы счисления, введите -1.

Ответ: 13:57

8) Выберите эквивалентное логическое выражение:
(A&&B)||(A||B)||(B&&C)

Решение:
https://www.wolframalpha.com/input/?i=(A%26%26B)%7C%7C(A%7C%7CB)%7C%7C(B%26%26C)

Ответ: A||B

9) Программа выводит ряд “особенных”, по мнению разработчика, чисел:
2, 12, 56, 240, …
Какое число должно быть следующим?

Ответ: 992

10) На доске было написано логическое выражение, но кто-то стер одну переменную. И осталось следующее выражение (стертая операция обозначена знаком “_”)
(A+_)&&!C&&A||B
Какая переменная могла быть стерта, если известно, что при А=1, B=0, C=0 и при А=1, В=0, С=0 значение исходного выражения равно 0?

Ответ: B, C

11) Даны записи двух чисел в четырнадцатеричной системе счисления:
323B4D34320764
AC658BD0177508
Делятся ли эти числа на 52?

Ответ: Делится только первое число

In [7]:
(0+1+4+15+16+25+79)

140

In [8]:
45*0.07

3.1500000000000004

In [10]:
9*8*(8*8*8+7*8*8+7*6*8)

93312

In [ ]:
(6+7)*(7+8)*9

Перевод из одной системы счисления в другую:

In [1]:
def convert_base(num, to_base=10, from_base=10):
    # first convert to decimal number
    if isinstance(num, str):
        n = int(num, from_base)
    else:
        n = int(num)
    # now convert decimal to 'to_base' base
    alphabet = "0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZ"
    if n < to_base:
        return alphabet[n]
    else:
        return convert_base(n // to_base, to_base) + alphabet[n % to_base]

In [8]:
a = convert_base('10', 10, 2)
b = int(a)
b
c = str(b)
c

'2'

In [13]:
b = '232'
c = '1026'
for i in range(5, 16):
        A = int(convert_base(b, 10, i))
        res = 3 * A
        s = str(res)
        if c == convert_base(s, i, 10):
            print("i = ", i)
            print("A = ", A)

i =  7
A =  121

In [22]:
import math
9*8*(8*8+7*8)

8640

In [16]:
1-0.8*0.9

0.2799999999999999

In [18]:
1-(1-0.8)*(1-0.9)

0.98

In [19]:
0.8*0.9+0.2*0.9+0.1*0.8

0.9800000000000002

In [26]:
s = 0
for i1 in range(1,8):
    for i2 in range(1,8):
        for i3 in range(1,8):
            for i4 in range(1,8):
                if i1+i2+i3+i4 == 8:
                    print(i1,i2,i3,i4)
                    s+=1

print(s)

1 1 1 5
1 1 2 4
1 1 3 3
1 1 4 2
1 1 5 1
1 2 1 4
1 2 2 3
1 2 3 2
1 2 4 1
1 3 1 3
1 3 2 2
1 3 3 1
1 4 1 2
1 4 2 1
1 5 1 1
2 1 1 4
2 1 2 3
2 1 3 2
2 1 4 1
2 2 1 3
2 2 2 2
2 2 3 1
2 3 1 2
2 3 2 1
2 4 1 1
3 1 1 3
3 1 2 2
3 1 3 1
3 2 1 2
3 2 2 1
3 3 1 1
4 1 1 2
4 1 2 1
4 2 1 1
5 1 1 1
35

In [29]:
def foo(S, a, b):
    for n1 in range(0, 1000):
        for n2 in range(0, 1000):
            if n1 * a + n2 * b == S:
                return
    print(S)
    
    
a = 5
b = 9
for S in range(1,1000):
    foo(S, a, b)

1
2
3
4
6
7
8
11
12
13
16
17
21
22
26
31

In [36]:
n = 0
for i in range(1, 1003):
    if '3' in str(i):
        n += 1
print(n)

271

In [37]:
12*11*(10+11)*(9+11)*(8+11)*(7+11)*(6+11)*(5+11)

5157250560